{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
{% url 'news_app:nota-list' as link %}
{% breadcrumb title="Inicio" link=link %}
{% url 'news_app:nota-detail' nota.slug as link %}
{% breadcrumb title="Nota "|add:nota.titulo|add:" de "|add:nota.autor.username|lower|default:"Nota" link=link %}
{% endblock breadcrumb %}

{% block content %}
<div class="sticky-top">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ nota.titulo|lower|capfirst }}</h1>
            <p class="lead">{{ nota.subtitulo|lower|capfirst }}</p>
        </div>
    </div>
</div>
<div class="container">
    {% nota object %}
    <hr>
    <h5>Comentarios</h5>
    <div class="row comentarios">
        {% for comentario in nota.comentarios.all %}
            {% comentario comentario %}
        {% empty %}
        No posee comentarios
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
           {% include 'forms/comment_form.html' %}
        </div>
    </div>
    {% else %}
    Para comentar debe <a href="{% url 'login' %}">logearse</a>
    {% endif %}
</div>
{% endblock content %}

{% block end_scripts %}
<script>
    {% with object=None %} {# //? Para evitar que llene los comentairos #}
    const comentario = `{% include 'tags/comentario.html' %}`;
    {% endwith %}
    $(document).ready(function () {
        document.querySelectorAll("#cuerpo img").forEach(function (e) {
            $(e).width("100%");
            $(e).height("100%");
        });
        $('.row .col-12 .d-flex img').on("click", function(){
            var id = $(this).data("id")
            var url = "{% url 'news_app:comentario-update' 12345 %}".replace(/12345/, id);
            $("#cuerpo-" + id).html(`
                <form id="temp-form" action="${url}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="cuerpo" id="id_cuerpo" class="form-control" rows="3">${$("#cuerpo-"+id).text().trim()}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-sm btn-info">
                    </div>
                </form>
            `)
            $('#temp-form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $("#temp-form").attr("action"),
                    data: $('#temp-form').serialize(),
                    success: function (resp) {
                        $('#temp-form').html(`${resp.cuerpo}`);
                    }
                });
                return false;
            });
        });


        $('#comment-form').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'news_app:comentario-create' %}",
                data: $('#comment-form').serialize(),
                success: function (resp) {
                    $('.comentarios').append(comentario);
                    $comentario = $('.comentarios .col-12').last();
                    $comentario.find('.card-title').text(resp.autor);
                    $comentario.find('.card-body .card-text').text(resp.cuerpo);
                    $comentario.find('.card-footer .card-text').text("hace un momento");
                    $('#id_cuerpo').val("");
                }
            });
            return false;
        });
    });
</script>
{% endblock end_scripts %}