{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}   
    <div class="container">
    <h3 class="m-5">Chat Room de {{ object.host }}</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-1 mb-2">
                <ul class="list-group current-users">
                    {% for usuario in object.current_users.all %}
                        <li class="list-group-item">{{ usuario }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-12 col-lg-11">
                <div class="container">
                    <div class="container chat-container overflow-auto" style="max-height: 60vh;">
                        {% for message in history reversed %}
                        <div class="card">
                            <div class="card-body">
                                {{ message.created_at|date:"d-m-Y H:i:s" }}
                                {{ message.user|default:"-" }} {{ message.text }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="container mt-3">
                        {{ message_form.text|as_crispy_field }}
                        <input id="chat-message-submit" type="button" value="Enviar" class="btn btn-info">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block end_scripts %}
    {{ room_name|json_script:"room-name" }}
    <script>
        $(".chat-container").scrollTop($(".chat-container")[0].scrollHeight);
        const card = `
        <div class="card">
            <div class="card-body">
                {}
            </div>
        </div>
        `;
        const roomCode = "{{ view.kwargs.slug }}";
        const roomID = "{{ object.pk }}";

        function createSocket(){
            const ws = new WebSocket(`${window.ws_scheme}://${window.host}/ws/messages/`);

            ws.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if(data.action === "create" && data.type === "message.activity"){ // nuevo mensaje
                    $('.chat-container').append(
                        card.replace(/{}/, 
                        `${data.created_at_formatted} ${data.user.username}: ${data.text}`)
                    );
                    $(".chat-container").scrollTop($(".chat-container")[0].scrollHeight);

                } else if (data.action == "update"){ // room actualizado
                    var usuarios = "";
                    data.data.current_users.forEach(function(e){
                        usuarios += `<li class="list-group-item">${e.username}</li>`;
                    });
                    $('.current-users').html(usuarios);
                }
                if ("usuarios" in data){
                    var usuarios = "";
                    data.usuarios.forEach(function(e){
                        usuarios += `<li class="list-group-item">${e.username}</li>`;
                    });
                    $('.current-users').html(usuarios);
                } else if ("message" in data){
                    $('.chat-container').append(card.replace(/{}/, data.message));
                    $(".chat-container").scrollTop($(".chat-container")[0].scrollHeight);
                }
            };

            ws.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
                setTimeout(createSocket, 1000*10)
            };

            ws.onopen = function(){
                ws.send(JSON.stringify({
                    action:"subscribe_instance",
                    pk:roomID,
                    request_id:window.session_key,
                }));
                ws.send(JSON.stringify({
                    action:"subscribe_to_messages_in_room",
                    pk:roomID,
                    request_id:window.session_key,
                }));
                ws.send(JSON.stringify({
                    action:"join_room",
                    pk:roomID,
                    request_id:window.session_key,
                }));
            }
            document.querySelector('#id_text').focus();
            document.querySelector('#id_text').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#id_text');
                const message = messageInputDom.value;
                ws.send(JSON.stringify({
                    action:'create_message',
                    message: message,
                    request_id:window.session_key,
                }));
                messageInputDom.value = '';
            };
        }

        $(document).ready(function(){
            createSocket();
        });
    </script>
{% endblock end_scripts %}