   <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% url 'news_app:nota-list' as link %}
            <a class="navbar-brand {% is_active "/frontend/notas/" %} ml-2" href="/frontend/notas/">
                LOGO
            </a>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        {% url 'news_app:nota-list' as link %}
                        <a class="nav-link {% is_active "/frontend/notas/" %}" href="/frontend/notas/">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'news_app:nota-create' as link %}
                        <a class="nav-link {% is_active "/frontend/crear/nota/" %}" href="/frontend/crear/nota/">
                            Crear nota
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'chat:room-list' as link %}
                        <a class="nav-link {% is_active "/frontend/rooms/" %}" href="/frontend/rooms/">
                            Chat Rooms
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto">
                    {{ title|upper|default:"Lengua liberal" }}
                </a>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item">
                        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'admin:index' %}">
                            Admin
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">
                            {{ request.user|capfirst }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'logout' %}?next={{ request.get_full_path }}">
                            Cerrar sesion
                        </a>
                    </li>
                    {% else %}
                    {% url 'login' as login %}
                    <li class="nav-item">
                        <a class="flex-sm-fill text-sm-center nav-link {% is_active login %}" href="{{ login }}">
                            Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>