{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block container %}
{% get_request 'next' as next %}
{% url 'frontend' as frontend %}
<form action="{{ app_path }}?next={% if next %}{{next}}{% elif request.META.HTTP_REFERER %}{{request.META.HTTP_REFERER}}{% else %}{{frontend}}{% endif %}" method="post">
    {% csrf_token %}
    {% crispy form %}
    <input type="submit" value="Login" class="btn btn-lg btn-info ">
</form>
Si no posee una cuenta puede <a href="{% url 'register' %}">registrarse</a>.

{% endblock container %}